// COLORS
$primary-color: #2c3e50;
$secondary-color: #bdc3c7;

$white-color: #ffffff;

$dark-grey: #0D1E31;
$light-grey: #d2d2d2;

$dark-blue-text: #2c3e50; // For Headings

// FONT SIZE
$default-font-size: 2rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
